from typing import TYPE_CHECKING

from .{{ feature._identifier|lower }}_base import {{ feature._identifier }}Base
from .{{ feature._identifier|lower }}_feature import {{ feature._identifier }}Feature
{% for cmd in feature._unobservable_commands.values() %}
from .{{ feature._identifier|lower }}_types import {{ cmd._identifier }}_Responses
{% endfor %}
{% for cmd in feature._observable_commands.values() %}
from .{{ feature._identifier|lower }}_types import {{ cmd._identifier }}_Responses
{% if cmd.intermediate_responses %}
from .{{ feature._identifier|lower }}_types import {{ cmd._identifier }}_IntermediateResponses
{% endif %}
{% endfor %}
{% for err in feature.defined_execution_errors.values() %}
from .{{ feature._identifier|lower }}_errors import {{ err._identifier }}
{% endfor %}
{% for definition in feature._data_type_definitions.keys() %}
from .{{ feature._identifier|lower }}_types import {{ definition }}
{% endfor %}


__all__ = [
    "{{ feature._identifier }}Base",
    "{{ feature._identifier }}Feature",
{% for cmd in feature._unobservable_commands.values() %}
    "{{ cmd._identifier }}_Responses",
{% endfor %}
{% for cmd in feature._observable_commands.values() %}
    "{{ cmd._identifier }}_Responses",
    {% if cmd.intermediate_responses %}
    "{{ cmd._identifier }}_IntermediateResponses",
    {% endif %}
{% endfor %}
{% for err in feature.defined_execution_errors.values() %}
    "{{ err._identifier }}",
{% endfor %}
{% for definition in feature._data_type_definitions.keys() %}
    "{{ definition }}",
{% endfor %}
]

if TYPE_CHECKING:
    from .{{ feature._identifier|lower }}_client import {{ feature._identifier }}Client  # noqa: F401

    __all__.append("{{ feature._identifier }}Client")
